/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

:root {
    --color-primary: #f97316;
    --color-secondary: #000000;
    --color-tertiary: #1f2937;
  }
  
  [data-theme="dark"] {
    --color-primary: #f97316;
    --color-secondary: #ffffff;
    --color-tertiary: #9ca3af;
  }