/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Geist Mono', monospace;
  --font-primary: 'Geist Mono', monospace;
  --font-secondary: 'Geist', sans-serif;

  --color-primary: var(--color-primary-value);
  --color-secondary: var(--color-secondary-value);
  --color-tertiary: var(--color-tertiary-value);
}

:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;

  /* Light mode colors */
  /* --color-primary-value: #f97316; */
  --color-primary-value: #731f89;
  --color-primary-rgb: 138, 36, 164;
  --color-secondary-value: #000000;
  --color-secondary-rgb: 0, 0, 0;
  --color-tertiary-value: #9c9c9c;
  --color-tertiary-rgb: 31, 41, 55;
  --color-bg: #ffffff;
  --color-card-bg: #1f2937;
}

[data-theme="dark"] {
  /* Dark mode colors */
  /* --color-primary-value: #f97316; */
  --color-primary-value: #C28CFF;
  --color-primary-rgb: 138, 36, 164;
  --color-secondary-value: #ffffff;
  --color-secondary-rgb: 255, 255, 255;
  /* --color-tertiary-value: #645e5e; */
  --color-tertiary-value: #645e5e;
  --color-tertiary-rgb: 156, 163, 175;
  --color-bg: #000000;
  --color-card-bg: #000000;
}

html {
  color-scheme: light;
  background-color: var(--color-bg);
  transition: background-color 0.3s ease-in-out;
}

html[data-theme="dark"] {
  color-scheme: dark;
}

body {
  background-color: var(--color-bg);
  transition: background-color 0.3s ease-in-out;
}

* {
  font-family: 'secondary', monospace;
  font-stretch: condensed;
}